<div class="text-center">
    <h1 class="text-info pt-4">Щиро вітаю! Ви на крок ближче отримання свого гаджета.</h1>
    <p class="pb-3">Ми отримали ваше замовлення, і незабаром ваш платіж буде оброблено!</p>
</div>