<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 navbar-dark p-4">
    <a class="navbar-brand" href="#">AppleShop</a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                iPhone
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="products.html">iPhone 14 Pro Max</a>
                <a class="dropdown-item" href="products.html">iPhone 14 Pro</a>
            </div>
        </li>
    </ul>

    <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
</header>